<p style="color: green"><%= notice %></p>

<div data-controller="rooms">
  <%= render @room %>
</div>

<div>
  <%= link_to "Edit this room", edit_room_path(@room) %> |
  <%= link_to "Back to rooms", rooms_path %>

  <%= button_to "Destroy this room", @room, method: :delete %>
</div>
